<template>
  <section class="container">
    <div class="card section-card">
      <div class="card-header">
        <div class="card-header-icon">
          <Icon icon="list-alt" fixedWidth />
        </div>
        <h3 class="card-header-title">{{ $t('transaction.summary') }}</h3>
      </div>
      <div class="card-body info-table">
        <div class="columns">
          <div class="column info-title">{{ $t('transaction.transaction_id') }}</div>
          <div class="column info-value monospace">
            <TransactionLink :transaction="id" plain />
          </div>
        </div>
        <div class="columns" v-if="id !== hash">
          <div class="column info-title">{{ $t('transaction.transaction_hash') }}</div>
          <div class="column info-value monospace">
            <TransactionLink :transaction="id" plain :clipboard="hash">{{ hash }}</TransactionLink>
          </div>
        </div>
        <div class="columns" v-if="blockHash">
          <div class="column info-title">{{ $t('transaction.included_in_block') }}</div>
          <div class="column info-value">
            <BlockLink :block="blockHeight" :clipboard="blockHash">
              {{ blockHeight }} ({{ blockHash }})
            </BlockLink>
          </div>
        </div>
        <div class="columns">
          <div class="column info-title">{{ $t('transaction.transaction_size') }}</div>
          <div class="column info-value">{{ size.toLocaleString() }} bytes</div>
        </div>
        <div class="columns" v-if="timestamp">
          <div class="column info-title">{{ $t('transaction.timestamp') }}</div>
          <div class="column info-value">
            <FromNow :timestamp="timestamp" /> ({{ timestamp | timestamp }})
          </div>
        </div>
        <div class="columns">
          <div class="column info-title">{{ $t('transaction.confirmation') }}</div>
          <div class="column info-value">{{ confirmations }}</div>
        </div>
        <div class="columns" v-if="fees > 0">
          <div class="column info-title">{{ $t('transaction.transaction_fee') }}</div>
          <div class="column info-value monospace">{{ fees | qtum }} CEN</div>
        </div>
      </div>

      <template v-if="getRegisterInfo">
      <hr class="is-marginless">

      <div class="card-body info-table">
        <div class="card-header">
          <div class="card-header-icon">
            <Icon icon="edit" fixedWidth />
          </div>
          <h3 class="card-header-title">{{ $t('registration.summary') }}</h3>
        </div>
        <div class="card-body info-table">
          <div class="columns">
            <div class="column info-title">{{ $t('registration.registrar') }}</div>
            <div class="column info-value">
              {{ this.registerInfo.registrar.name }} <Icon icon="check-circle" class="has-text-primary" fixedWidth v-if="this.registerInfo.registrar.verified"/>
            </div>
          </div>
          <div class="columns">
            <div class="column info-title">{{ $t('registration.registrar_address') }}</div>
            <div class="column info-value">
              {{ this.registerInfo.address }}
            </div>
          </div>
          <div class="columns">
            <div class="column info-title">{{ $t('registration.record_id') }}</div>
            <div class="column info-value monospace">
              {{ this.registerInfo.id }}
            </div>
          </div>
          <div class="columns">
            <div class="column info-title">{{ $t('registration.record_value') }}</div>
            <div class="column info-value">
              <template v-if="validJSON(this.registerInfo.value)">
              <pre class="is-paddingless">
                <code class="json">
{{ JSON.stringify(JSON.parse(this.registerInfo.value), null, 4) }}
                </code>
              </pre>
              </template>
              <template v-else>
                {{ this.registerInfo.value }}
              </template>
            </div>
          </div>
        </div>
      </div>

      </template>
      <hr>

      <div class="card-body info-table">
        <Transaction
          :transaction="{
            id, blockHeight, timestamp,
            inputs, outputs, fees, qrc20TokenTransfers, qrc721TokenTransfers
          }"
          detailed
          @transaction-change="refresh" />

        <div class="columns">
          <div class="column">
            <div v-for="receipt in receipts" class="receipt-item">
              <div class="columns">
                <div class="column info-title">{{ $t('transaction.receipt.gas_used') }}</div>
                <div class="column info-value monospace">{{ receipt.gasUsed.toLocaleString() }}</div>
              </div>
              <div class="columns" v-if="receipt.contractAddress !== '0'.repeat(40)">
                <div class="column info-title">{{ $t('transaction.receipt.contract_address') }}</div>
                <div class="column info-value">
                  <AddressLink :address="receipt.contractAddress" />
                </div>
              </div>
              <div class="columns" v-if="receipt.excepted !== 'None'">
                <div class="column info-title">{{ $t('transaction.receipt.excepted') }}</div>
                <div class="column info-value">{{ receipt.excepted }}</div>
              </div>
              <div class="columns" v-if="receipt.logs.length">
                <div class="column info-title">{{ $t('transaction.receipt.event_logs') }}</div>
                <div class="column info-value">
                  <ul v-for="log in receipt.logs" class="event-log">
                    <li>
                      <span class="key">{{ $t('transaction.receipt.address') }}</span>
                      <AddressLink :address="log.address" />
                    </li>
                    <li>
                      <span class="key">{{ $t('transaction.receipt.topics') }}</span>
                      <ul class="topic-list monospace">
                        <li v-for="topic in log.topics">{{ topic }}</li>
                      </ul>
                    </li>
                    <li>
                      <span class="key">{{ $t('transaction.receipt.data') }}</span>
                      <span class="monospace">{{ log.data }}</span>
                    </li>
                    <li v-if="log.abiList && log.abiList.length">
                      <ul>
                        <pre v-for="{abi, params} in log.abiList"
                          class="contract-event-code"
                          v-html="formatEvent(abi, params)"></pre>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</template>

<script>
  import Block from '@/models/block'
  import Transaction from '@/models/transaction'
  import {RequestError} from '@/services/qtuminfo-api'
  import Base58 from '@/utils/base58'

  export default {
    head() {
      return {
        title: this.$t('blockchain.transaction') + ' ' + this.id,
      }
    },
    data() {
      return {
        id: '',
        hash: '',
        isCoinbase: false,
        fees: 0,
        inputs: [],
        outputs: [],
        blockHeight: null,
        blockHash: null,
        timestamp: null,
        size: 0,
        receipts: [],
        qrc20TokenTransfers: [],
        qrc721TokenTransfers: [],
        registerInfo: null
      }
    },
    async asyncData({req, params, error}) {
      try {
        let transaction = await Transaction.get(params.id, {ip: req && req.ip})
        return {
          id: transaction.id,
          hash: transaction.hash,
          isCoinbase: transaction.isCoinbase,
          fees: transaction.fees,
          inputs: transaction.inputs,
          outputs: transaction.outputs,
          blockHeight: transaction.blockHeight,
          blockHash: transaction.blockHash,
          timestamp: transaction.timestamp,
          size: transaction.size,
          receipts: transaction.receipts,
          qrc20TokenTransfers: transaction.qrc20TokenTransfers,
          qrc721TokenTransfers: transaction.qrc721TokenTransfers
        }
      } catch (err) {
        if (err instanceof RequestError) {
          if (err.code === 404) {
            error({statusCode: 404, message: `Transaction ${param.id} not found`})
          } else {
            error({statusCode: err.code, message: err.message})
          }
        } else {
          error({statusCode: 500, message: err.message})
        }
      }
    },
    computed: {
      blockchain() {
        return this.$store.state.blockchain
      },
      confirmations() {
        return this.blockHeight == null ? 0 : this.blockchain.height - this.blockHeight + 1
      },
      getRegisterInfo() {
        return this.outputs.map(output => {
          if (output.scriptPubKey.type == 'register_pubkeyhash') {
            let chunks = output.scriptPubKey.asm.split(' ')
            return this.registerInfo = {
              registrar: this.getRegistrarInfo(chunks[6]),
              address: output.address,
              id: this.hexToASCII(chunks[0]),
              value: this.hexToASCII(chunks[1])
            }           
          }
        }).filter(output => output).find(output => !!output)
      }
    },
    methods: {
      getRegistrarInfo(pubKey) {
        try {
          let json = require('@/concensum-registrars/' + pubKey + '.json')
          return {
            name: json.name,
            verified: json.verified
          }
        } catch (err) {
          return {
            name: "N/A"
          }
        }
      },
      refresh(transaction) {
        this.blockHeight = transaction.blockHeight
        this.blockHash = transaction.blockHash
        this.timestamp = transaction.timestamp
        this.receipts = transaction.receipts
        this.qrc20TokenTransfers = transaction.qrc20TokenTransfers
        this.qrc721TokenTransfers = transaction.qrc721TokenTransfers
      },
      hexToASCII(string) {
      	var hex  = string.toString();
      	var str = '';
	      for (var n = 0; n < hex.length; n += 2) {
		      str += String.fromCharCode(parseInt(hex.substr(n, 2), 16));
	      }
	      return str;
      },
      validJSON(str) {
        try {
          JSON.parse(str);
        } catch (err) {
          return false;
        }
        return true;
      },
      splitData(data) {
        let chunks = data.length / 64
        let list = []
        for (let i = 0; i < chunks; ++i) {
          list.push(data.slice(i * 64, (i + 1) * 64))
        }
        return list
      },
      formatEvent(abi, params) {
        if (params.length === 0) {
          return abi.name + '()'
        } else {
          return abi.name + '(\n'
            + abi.inputs.map((input, index) => {
              if (input.name) {
                return '  ' + input.name + ' = ' + params[index]
              } else {
                return '  ' + params[index]
              }
            }).join(',\n')
            + '\n)'
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .receipt-item::before {
    display: block;
    height: 1px;
    background-color: #ccc;
    content: "";
  }
  .event-log {
    display: inline-block;
    &:not(:first-child) {
      margin-top: 0.5em;
    }
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    .key {
      display: inline-block;
      margin-right: 0.5em;
      font-weight: bold;
    }
  }
  .topic-list, .data-list {
    list-style-type: disc;
    list-style-position: inside;
  }
  .contract-event-code {
    padding: 0.5em;
    white-space: pre-wrap;
  }
</style>
