<template>
  <footer>
    <div class="container">
      <h3 class="is-size-4 is-uppercase">{{ $t('footer.contact_us') }}</h3>
      <div class="line"></div>
      <a href="mailto:info@concensum.net">info@concensum.net</a>
      <ul class="links">
        <li>
          <a target="_blank" href="https://www.facebook.com/Concensum-1757891647623605/">
            <Icon icon="facebook" brands /> {{ $t('footer.facebook') }}
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/concensum_org/">
            <Icon icon="twitter" brands /> {{ $t('footer.twitter') }}
          </a>
        </li>
        <!-- <li>
          <a target="_blank" href="https://forum.qtum.org">
            <Icon icon="comments" /> {{ $t('footer.forum') }}
          </a>
        </li> -->
        <li>
          <a target="_blank" href="https://gitlab.com/concensum/">
            <Icon icon="gitlab" brands /> Gitlab
          </a>
        </li>
      </ul>
      <small class="copyright">
        &copy; {{ new Date().getFullYear() }} CONCENSUM PTE Ltd. - Global Copyright Register
      </small>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
  @import '../styles/_initial-variables';
  footer {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    background-color: $grey-darker;
    text-align: center;
    color: white;
  }
  a:link, a:visited, a:hover, a:active {
    color: inherit;
  }
  .line {
    width: 2rem;
    height: 1px;
    margin: 0.5rem auto;
    background-color: white;
  }
  .links {
    display: flex;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(242, 242, 242, 0.2);
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 1rem;
      margin-bottom: 1rem;
      > li {
        flex: 33.333%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    @media (min-width: 769px) {
      justify-content: space-between;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  span.fab, span.fas {
    margin-right: .5rem;
  }
</style>
