<template>
  <nav class="navbar">
    <div class="navbar-brand is-size-4">
      <nuxt-link to="/" class="navbar-item navbar-logo">
        <img src="~/static/img/logos/logo-full.svg" alt="Concensum">
        <div v-if="this.$env.NETWORK_NAME" class="testnet-badge">{{ this.$env.NETWORK_NAME }}</div>
      </nuxt-link>
      <a role="button" class="navbar-burger" @click="showMenu = !showMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" :class="{'is-active': showMenu}">
      <div class="navbar-start is-uppercase">
        <AttributeInjector class="navbar-item" @click.native="showMenu = !showMenu">
          <nuxt-link to="/block">{{ $tc('blockchain.block', 2) }}</nuxt-link>
          <!-- <nuxt-link to="/contract/tokens">{{ $tc('blockchain.token') }}</nuxt-link> -->
          <div class="has-dropdown is-hoverable">
            <nuxt-link to="/misc/charts" class="navbar-link">{{ $t('misc.misc') }}</nuxt-link>
            <div class="navbar-dropdown is-boxed">
              <nuxt-link to="/misc/charts" class="navbar-item">
                {{ $t('misc.charts_title') }}
              </nuxt-link>
              <nuxt-link to="/misc/rich-list" class="navbar-item">
                {{ $t('misc.rich_list_title') }}
              </nuxt-link>
              <nuxt-link to="/misc/biggest-miners" class="navbar-item">
                {{ $t('misc.biggest_miners_title') }}
              </nuxt-link>
              <nuxt-link to="/misc/stake-calculator" class="navbar-item">
                {{ $t('misc.stake_calculator.title') }}
              </nuxt-link>
            </div>
          </div>
        </AttributeInjector>
      </div>
      <form class="navbar-end" @submit.prevent="search">
        <div class="navbar-item input-item">
          <!-- Search by Block / Transaction / Address / Contract / Token -->
          <input type="text" class="input" v-model="searchString" :placeholder="$t('nav.search')">
          <button type="submit" class="button is-primary" :class="{'is-loading': searching}">
            <Icon icon="search" />
          </button>
        </div>
      </form>
    </div>
  </nav>
</template>

<script>
  import {get as qtuminfoGet} from '@/services/qtuminfo-api'

  export default {
    data() {
      return {
        showMenu: false,
        searchString: '',
        searching: false
     }
    },
    methods: {
      async search() {
        let searchString = this.searchString.trim()
        if (!searchString || this.searching) {
          return
        }
        this.searching = true
        try {
          let {type, id} = await qtuminfoGet(`/search/${searchString}`)
          switch (type) {
          case 'address':
            this.searchString = ''
            this.$router.push(`/address/${searchString}`)
            break
          case 'block':
            this.searchString = ''
            this.$router.push(`/block/${searchString}`)
            break
          case 'contract':
            this.searchString = ''
            if (id) {
              this.$router.push(`/contract/${id}`)
            } else {
              this.$router.push(`/contract/${searchString}`)
            }
            break
          case 'transaction':
            this.searchString = ''
            this.$router.push(`/tx/${searchString}`)
            break
          }
        } catch (err) {}
        this.showMenu = false
        this.searching = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../styles/_initial-variables';
  .navbar-brand {
    align-items: center;
  }
  .navbar-logo {
    display: inline-block;
    img {
      display: block;
      height: 100%;
      width: 129px;
    }
  }
  .testnet-badge {
    background-color: $concensum;
    font-size: 7px;
    font-weight: 700;
    position: absolute;
    color: #fff;
    border-radius: 10px;
    padding: 2px 4px;
    right: 8px;
    bottom: -3px;
  }
  .navbar-end {
    flex: auto;
    align-items: center;
    .navbar-item {
      flex: auto;
      position: relative;
      input {
        padding-right: 3em;
      }
      button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
      }
    }
  }
</style>
