.card-header-button {
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* .card-body {
  padding: 2rem 1.5rem;
} */

.card.section-card {
  margin: 1em 0.75em;

  &:first-child {
    margin-top: 0.5em;
  }
}
