.break-word {
  word-break: break-all;
}

.monospace {
  font-family: $family-monospace;
}

/* .is-qtum {
  border-color: transparent;
  background-color: $concensum;
  color: white;

  &:hover, .is-hovered {
    background-color: darken($concensum, 3%);
    color: white;
  }

  &:focus, .is-focused {
    outline: none;
    color: white;
    &:not(:active) {
      box-shadow: 0 0 0 0.125rem fade($concensum, 25%);
    }
  }

  &:active, .is-actived {
    outline: none;
    background-color: darken($concensum, 5%);
    color: white;
  }

  &.is-outlined {
    border-color: $concensum;
    background-color: transparent;
    color: $concensum;
    &:hover, .is-hovered {
      border-color: $concensum;
      background-color: $concensum;
      color: white;
    }
  }

  &.is-inverted {
    background-color: white;
    color: $concensum;
    &:hover, .is-hovered {
      background-color: #f2f2f2;
      color: white;
    }
  }

  &.is-outlined.is-inverted {
    border-color: white;
    background-color: transparent;
    color: white;
    &:hover {
      background-color: white;
      color: $concensum;
    }
  }

  &[disabled] {
    border-color: transparent;
    background-color: $concensum;
    box-shadow: none;
  }
}
 */